# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml
out/

# Mac
.DS_Store

# Logs
*.log

# Environment files
.env
application-local.properties

# Angular / Node - for later frontend
node_modules/
dist/
.angular/
